body{
    display: flex;
    justify-content: center;
}
.Box{
    justify-content: space-evenly;
    display: flex;
    height: 400px;
    width: 800px;
}
.SubBox{
    height: 250px;
    width: 200px;
    border: 1px solid black;
}
.SubSubBox1{
    height: 33.33%;
    width: 200px;
}
.SubSubBox2{
    box-sizing: border-box;
    padding: 0 20px;
    color: silver;
    text-align: center;
    height: 33.33%;
    width: 200px;
}
.SubSubBox3{
    box-sizing: border-box;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    height: 33.33%;
    width: 200px;
}
.SmallBox{
    border: 1px solid black;
    height: 50%;
    width: 66%;
}
p{
    font-size: 18px;
    display: flex;
    height: 100px;
    margin: 0;
    justify-content: center;
    align-items: center;
}
p1{
    display: flex;
    margin-top: 6px;
    justify-content: center;
    align-items: center;
}